html, body 
{
    height: 100%;
    margin: 0;
    padding: 0;
}

#map 
{
    height: 100%;
}

#floating-panel 
{
    position: absolute;
    top: 5px;
    left: 50%;
    z-index: 5;
    margin-left: -180px;
    width: 350px;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#latlng 
{
  width: 225px;
}